@import "fonts";
@import "_normalize";

body {
  color: #333;
}

.container {
  width: 100%;
  max-width: 1352px;
  margin: 0 auto;
  padding: 0px 20px;
}

.button-order {
  position: relative;
  z-index: 1;
  padding: 16px 90px;
  @include fontText($montserrat, 24px, 500);
  color: #fff;
  background: none;

  transform: translate(-7px, -7px);
  transition: transform 0.3s linear;
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    background: none;
    border: 2px solid #fff;
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    transform: translate(7px, 7px);
    transition: transform 0.3s ease-in;
  }
  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #ff352b;
    z-index: -1;
  }
  &:hover::before {
    transform: translate(0px, 0px);
  }
  &:hover {
    transform: translate(0px, 0px);
  }
}

.heading {
  &__title {
    @include fontText($montserrat, 30px, 600);
    text-align: center;
  }
}

@import "./modules/header";
@import "./modules/intro";
@import "./modules/steps";
@import "./modules/price";
@import "./modules/slider";