.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 40px;
  z-index: 10;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}
.container {
}
.logo {
  &__link {
    @include fontText($montserrat, 30px, 500);
    text-transform: uppercase;
  }
}
.nav {
  // .nav__items

  &__items {
    display: flex;
  }

  // .nav__item

  &__item + &__item {
    margin-left: 50px;
  }

  // .nav__link

  &__link {
    position: relative;
    color: #333;
    @include fontText($montserrat, 18px, 500);

    transition: width 0.6s;
    &:before {
      content: "";
      width: 0;
      height: 2px;
      position: absolute;
      bottom: -2px;
      left: 50%;
      transition: all 0.3s;
    }
    &:hover {
      &:before {
        width: 100%;
        left: 0;
        background: black;
      }
    }
  }
}
.phone {
  @include fontText($montserrat, 24px, 500);
  text-decoration: underline;
  color: #333;
  transition: color 0.3s linear;
  &:hover {
    color: #333;
    text-decoration: underline;
  }
}
